body {
    background-color: bisque;
}
h1, h2, h4 {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    color:red;
    font-size: 40px; 
    text-decoration: underline;
    text-decoration-color: purple;
}
img {
    width:400px;
    height: auto;
}
.headerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width:400px;
    height: auto;  
}
p , ul {
    line-height:1.5em;
    font-size: 20px;
}
#imgLink {
    font-style: italic; 
}